importFrom("RColorBrewer","brewer.pal")
export("getDefaultParameter")
export("createParameterMatrix")
export("fitPrior")
export("fitNoPriorWithExclusion")
export("getSpecificResult")
export("getSpecificOutliersStep1")
export("SpeCond")
export("getMatrixFromExpressionSet")
export("getProfile")
export("writeSpeCondResult")
export("writeUniqueProfileSpecificResult")
export("writeGeneResult")
export("getFullHtmlSpeCondResult")
export("getGeneHtmlPage")
